body{
  /* background: #3E633D; */
  background-color: #3E633D;
  background-image: url(playlist.jpg);
  color: #FFFFFF;
}


main{
  display: block;
  margin: auto;
  width: 300px
}
/*I centered the main tag  */

img.background{
  filter: blur(200px);
}
/* adjust blur */

img{
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border:10px solid #133020;
}

h1{
  color: #FFC033;
  font-family: 'Inria Serif';
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  width:350;
}

h2{
  color: #FFC033;
  display: block;
  margin: auto;
  font-family: 'Inria Serif';
  font-style: bold;
  text-align:center;
  width:350;
}
h3{
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

a{
  color: #FFC033;
}
a:visited{
  color: #D98625;
}
a:hover{
  color: #D98625;
}

.center{
  display:block;
  margin-right:auto;
  margin-left:auto;
  width: 300px;
}

/* div{ */
  /* display: block; */
  /* width:200px; */
  /* margin:auto;
} */

.title{
  display: block;
  width: 350px;
  margin: auto;
  text-align:center;
}
